## Available programs:

{{#each programs}}
* **[{{name}}](#{{name}})**
    {{#each commands}}
    * **[{{name}}](#{{../name}}-{{name}})** {{#if shortDescription}}- {{shortDescription}}{{/if}}
    {{/each}}
{{/each}}

## Help
{{#each programs}}
## <a name="{{name}}"></a>{{name}}
    {{#each commands}}
### <a name="{{../name}}-{{name}}"></a>{{name}}
{{description}}
```
{{{help}}}
```
    {{/each}}
{{/each}}
